GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
FLASK_SECRET_KEY=
DATABASE_URL=sqlite:///./submissions.db
ADMIN_EMAIL=

# Postgres configuration
POSTGRES_USER=your-postgres-username
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-database-name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
